# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python
venv/
ENV/
env/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
thumbs.db

# Project
*.json
*.db
.env.local
.env.*.local

# Node
node_modules/
npm-debug.log
yarn-error.log
build/
dist/

# Coverage
.coverage
htmlcov/
